* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #111;
    justify-content: center;
    align-items: center;
}
  

/* ================================================== HEADER ================================================== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #000;
    height: 50px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #00dfc4;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 20px;
}

.nav ul li a:hover {
    color: #00dfc4;
}
  

/* ================================================== HERO ================================================== */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-content .highlight {
    color: #00dfc4;
}

.cta {
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #00dfc4;
    color: #00dfc4;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.cta:hover {
    background: #00dfc4;
    color: #000;
}


/* ================================================== FOOTER ================================================== */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}

.footer-logo {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-logo small {
    display: block;
    font-size: 0.9rem;
    font-weight: normal;
    color: #aaa;
    padding-top: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.footer-links a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #00dfc4;
}