<div id="dialog-edit" class="dialog">
    <h1>Editar juego de mesa</h1>
    <div class="form-container">
        <input type="hidden" id="edit-id">

        <label for="id">Id</label>
        <input type="text" id="edit-gameId">

        <label for="name">Nombre</label>
        <input type="text" id="edit-name">

        <label for="pais">País</label>
        <input type="text" id="edit-pais">

        <label for="minPlayers">Jugadores mínimos</label>
        <input type="number" id="edit-minPlayers">

        <label for="maxPlayers">Jugadores máximos</label>
        <input type="number" id="edit-maxPlayers">

        <label for="minAge">Edad mínima</label>
        <input type="number" id="edit-minAge">

        <label for="maxAge">Edad máxima</label>
        <input type="number" id="edit-maxAge">

        <label for="cost">Costo</label>
        <input type="number" id="edit-cost">
    </div>
    <div class="buttons">
        <button class="cancel-btn" onclick="closeDialogEdit()">Cerrar</button>
        <button class="edit-btn" onclick="editGame()">Editar</button>
    </div>
</div>