<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Juegos de mesa</title>
</head>
<body>
    <header class="header">
        <div class="logo">LOGO HERE</div>
        <nav class="nav">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/juegos">Juegos</a></li>
            <li><a href="#">Acerca de</a></li>
        </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>JUEGOS DE <span class="highlight">MESA</span></h1>
            <button class="cta">Contact Us</button>
        </div>
    </section>

</body>
</html>
